*{
	margin:0px;
	padding: 0px;
}

.clear:after,.container:after{
	content: "";
	display: block;
	clear: both;
}

#body{
	background: #e3e3e3;
}

.navbar{
	height: 70px;
	background: transparent; 
	border-bottom: 1px solid #CECECE;
}

.container{
	width: 1000px; 
	margin: 0px auto;
}
.main-menu ul li a{
	color: black;
	padding: 24px 17px;
	text-decoration: none;
	float: left;
	font-family:Adobe Caslon Pro Bold;
	transition: .1s;
} 

.nav ul li{
	display: inline-block;
	margin-top:25px;
	position: relative;
	
}

ul{
list-style-type: none;	
}

.main-menu ul li a:hover{
background: transparent;
border-radius: 20px;
height: 12px;
padding-top: 6px;
margin-top: 22px;
}

.main-menu ul li ul{
    position: absolute;
    top: 61px;
    left: 326px;
    width: 150px;
    height: 190px;
    display: none;
    background: #ffff2b;
    box-shadow: 0px 2px 2px #c7c7c7;
    border-radius: 8px;
    border: 2px solid #d7d7d7;
    z-index: 999;
}    

.main-menu ul li ul a{
	margin: 0px;
	transition: .1s;
	padding: 15px;
}


.main-menu ul li:hover ul{
	display: block;
	padding: 18px 6px;
}

.top-logo{
width: 144px;
height: 32px;
margin-top: 18px;
float: left;
margin-left: 13px;
border-radius: 8px;
}

.backround{
	background-image: url("8.jpg");
	height: 650px;
	background-size: cover; 
	margin-bottom: 25px;
	border-bottom: 2px solid #b0b0b0;
}


.head{
    width: 600px;
    height: 300px;
    opacity: 135;
    margin: 2px 5px;
}

.backround h1{
display: inline-block;
margin: 318px 340px;
font-family: Adobe Garamond Pro Bold;
font-size: 71px;
}

.column{
	width: 33%;
	float: left;

}

.column2{
	width: 33%;
	float: left;

}

.column3{
	width: 34%;
	float: left;

}

.main-content{
	padding: 20px;
}

.midle-content{
	padding: 20px;
}

.side-content{
	padding: 20px;
}

.card{
	background-image: url("9.jpg");
	background-size: cover;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #c7c7c7;
	margin-bottom: 20px;
	transition: .4s;
}

.container p{
	text-align: center;
	color: #000;
}

.card button{
margin-left: 100px;
padding: 15px;
border-radius: 30px;
background: #e1e10f;
transition: .4s;
}

.card button:hover{
	background: red;
	color: #fff;
}

.card h2{
	margin-left: 100px;

}

.card:hover{

transform:translateZ(10)
	
} 

.icon{
float: right;
border-radius: 50px;
margin-top: 16px;
margin-right: 10px;
transition: .4s;
}

.icon:hover{
	transform: translateY(-10px);
}

.simple-card{
	padding: 10px 37px;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #c7c7c7;
	margin-bottom: 20px;
	clear: both;
	background-image: url(img/273.jpg);
	background-size: cover;
	transition: .5s;
}

.simple-cover{
	width: 1280px;
	margin: 0px auto;
}

.simple-card:hover{
	background-image: url(img/FJPG-.jpg);
	background-size: cover;
}

.simple-card p{
	text-align: justify;
	padding-top: 17px;
}


.left-side{
	float: left;
	width: 630px;
	margin-right:10px; 
}

.right-side{
	float: left;
	width: 630px;
	margin-right:10px;
}

.x-card{
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #c7c7c7;
	margin-bottom: 20px;
}
.x-card img{
	width: 625px;
	height: 550px;
} 







.footer{
   background: #222222;
   padding: 50px;
   height:5%;
margin-top:50%;
}

.footer .footer_menu{
  max-width: 1000px;
  width: 100%;
  display: flex;
  margin: 0 auto 25px;
  justify-content: space-between;
  height:5%;
}

.footer .footer_menu .title{
  margin-bottom: 10px;
  color: #adadad;
}

.footer .footer_menu ul li a{
  display: block;
  margin-bottom: 6px;
  color: #fff;
}

.footer .footer_menu ul li a:hover{
  text-decoration: underline;
}

.footer .partners{
  margin-bottom: 25px;
}

.footer .partners ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .partners li a{
  background: url('partners.png') no-repeat 0 0;
	width: 101px;
	height: 100px;
  display: block;
  margin: 0 5px;
}

.footer .partners li a.partner1{
  background-position: 0 0;
	width: 100px;
	height: 100px;
}
.footer .partners li a.partner2{
  background-position: 0 -108px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner3{
  background-position: 0 -216px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner4{
  background-position: 0 -325px;
	width: 100px;
	height: 101px;
}
.footer .partners li a.partner5{
  background-position: 0 -446px;
	width: 100px;
	height: 100px;
}

.footer .social_media{
  text-align: center;
}

.footer .social_media ul{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.footer .social_media ul li a{
  display: block;
  margin: 0 5px;
  color: #fff;
  font-size: 24px;
  width: 50px;
  height: 50px;
  background: #fff;
  color: #222222;
  line-height: 50px;
  border-radius: 3px;
}

.footer .social_media ul li a:hover{
  color: #fff;
}

.footer .social_media ul li a.facebook:hover{
  background: #3b5998; 
}

.footer .social_media ul li a.twitter:hover{
  background: #1da1f2; 
}

.footer .social_media ul li a.instagram:hover{
  background: #c32aa3; 
}

.footer .social_media ul li a.whatsapp:hover{
  background: #25d366; 
}

.footer .social_media{
  color: #adadad;
}

@media (max-width:768px) {
  .wrapper .navbar .logo{
    font-size: 20px;
  }
  .main_container {
    padding: 25px;
  }
  .main_container .item{
    flex-direction: column;
  }
  .main_container .item .img_holder{
    max-width: 750px;
    width: 100%;
  }
  .main_container .item .item_info{
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    text-align: center;
  }
  .footer .footer_menu{
    flex-direction: column;
    width: 220px;
    margin: 0 auto 25px;
  }
  .footer .footer_menu > div{
    margin: 10px 0;
  }
  .footer .partners ul li a{
    margin: 5px;
  }
}